
/* Styles par défaut pour les petits écrans (mobiles) */
.library-btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    }


  .library-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;


  }
