.animate-text {
  overflow: hidden;
  border-right: 0.15em solid rgb(255, 0, 208);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation:
    typing 3s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(237, 234, 237);
  }
}
