.neon-border {
    border: 2px solid white;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
  }

.maxContainer{
    padding-top: 90px;
    padding-bottom: 100px;
}


  .bgcolor{
    background-color:#f78fb3;
  }

 .textInput{
   color:white
 }