.container {
    width: 100%;
  }

  
.list-text-content {
    font-size: 13px;
    text-align: center;
    margin-top: 0;
    padding: 20px;
    max-width: 90vw; 
    box-sizing: border-box; 
  }

  @media (max-width: 768px) {
    .text-content {
      padding: 10px; 
      margin: 10px;
      font-size: 10px 
    }
   
  }

  .clignotant-texte {
    animation: clignoter-texte 2s infinite;
  }